<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0Rcg7ZaT7LUMR4U5igmLQqR6T9HaMoOs</string>
	<key>GCM_SENDER_ID</key>
	<string>997399886578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmonster.BliU</string>
	<key>PROJECT_ID</key>
	<string>bliu-be62b</string>
	<key>STORAGE_BUCKET</key>
	<string>bliu-be62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997399886578:ios:58b1233c97c1e4874a2e6b</string>
</dict>
</plist>