<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXi1SzLrAzdpjtZn1CHjoEFfIFrlTmwGw</string>
	<key>GCM_SENDER_ID</key>
	<string>1011786302073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmonster.BliU</string>
	<key>PROJECT_ID</key>
	<string>bliu-c754d</string>
	<key>STORAGE_BUCKET</key>
	<string>bliu-c754d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011786302073:ios:ee7c1531b9a201f363caa8</string>
</dict>
</plist>